---
import Default from "🧊/Default.astro";
import Marked from "🧩/Marked.astro";
type Props = {
  class?: string;
  frontmatter: Record<string, string>;
  rawContent: () => string;
};
const {
  class: className,
  frontmatter: { title, authors, cover },
  rawContent,
}: Props = Astro.props;
---

<Default title={title} class:list={["markdown highlighter", className]}>
  {cover && <img src={cover} alt="" class="cover" />}
  <p class="title">{title}</p>
  <Marked raw={rawContent()} />
  <p class="authors">
    {authors.includes(",") ? "Authors" : "Author"}: <span>{authors}</span>
  </p>
</Default>

<script>
  const main = document.querySelector("main") as HTMLElement;
  const mainWidthDefault = main.offsetWidth;
  const fontSizeDefault = parseFloat(
    window.getComputedStyle(main).getPropertyValue("font-size"),
  );
  const ratio = 1.1;
  const zoom = {
    default: () => {
      main.style.width = `${mainWidthDefault}px`;
      main.style.fontSize = `${fontSizeDefault}px`;
    },
    in: () => {
      const mainWidth = main.offsetWidth;
      const fontSize = parseFloat(
        window.getComputedStyle(main).getPropertyValue("font-size"),
      );
      main.style.width = `${mainWidth * ratio}px`;
      main.style.fontSize = `${fontSize * ratio}px`;
    },
    out: () => {
      const mainWidth = main.offsetWidth;
      const fontSize = parseFloat(
        window.getComputedStyle(main).getPropertyValue("font-size"),
      );
      main.style.width = `${mainWidth / ratio}px`;
      main.style.fontSize = `${fontSize / ratio}px`;
    },
    fit: () => {
      const mainWidth = main.offsetWidth;
      main.style.width = `${window.screen.width}px`;
      main.style.fontSize = `${
        (fontSizeDefault * window.screen.width) / mainWidth
      }px`;
    },
  };

  document.addEventListener("keydown", (e) => {
    if (e.ctrlKey) {
      if (e.key == "=") {
        e.preventDefault();
        zoom.in();
      }
      if (e.key == "-") {
        e.preventDefault();
        zoom.out();
      }
      if (e.key == "0") {
        e.preventDefault();
        zoom.default();
      }
      if (e.key == "\\") {
        e.preventDefault();
        zoom.fit();
      }
    }
  });
</script>
